@font-face{
	font-family: 'Lush';
	src: url('/src/FrontEnd/Lush.tff') format('truetype');
}

body {

	background-color: #1d2a56;
}

header {
	color: black;
	font-family: 'Lush', Serif;
	font-size: 45px;
	text-align: center;
}
