@font-face{
	font-family: 'Lush';
	src: url('Lush.tff') format('truetype');
}

body {

	background-color: #1d2a56;
}

header {
	color: black;
    margin-left: 20px;
	font-family: 'FontName', Fallback, Serif;
	font-size: 45px;
	text-align: center;
}
